.jumbotron {
  color: #168a9e;
  margin-top: 75px;
}

.navbar-inverse {
  background-color: #7b84b5;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}
.navbar-inverse .navbar-brand {
   color: white;
 }
